;
; {{ infile }} for forward zone from {{ outfile }}.
;
$TTL 86400
@       IN      SOA     cc.cs.nctu.edu.tw.    root.cc.cs.nctu.edu.tw.    (
                        {{ serial }}      ; serial number of this zone file
                        1D              ; slave refresh
                        30M             ; slave retry time in case of a problem
                        1W              ; slave expiration time
                        2H              ; maximum caching time in case of failed lookups
                        )
@       IN      NS      ccns1.cc.cs.nctu.edu.tw.
@       IN      NS      ccns2.cc.cs.nctu.edu.tw.

$ORIGIN cc.cs.nctu.edu.tw.
$INCLUDE /etc/named/cc.cs/{{ infile }}
; Including hosts information from {{ infile }}
